{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
    

   <body>
    <!-- Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'assets/img/logo/logo.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->
    {% include 'includes/header.html' %}
    <main>

        <!-- slider Area Start-->
        <div class="slider-area slider-height" data-background="assets/img/hero/h1_hero.jpg">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your Abroad goals</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Get fast collateral free loan to study abroad.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'frontend:contact' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Study Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'assets/img/hero/hero_img.jpeg' %}" alt="">
                        </div>
                    </div>
                </div>
                <!-- Single Slider -->
                <div class="single-slider">
                    <div class="slider-cap-wrapper">
                        <div class="hero__caption">
                            <p data-animation="fadeInLeft" data-delay=".2s">Achieve your Abroad goal</p>
                            <h1 data-animation="fadeInLeft" data-delay=".5s">Get fast collateral free loan to study abroad.</h1>
                            <!-- Hero Btn -->
                            <a href="{% url 'frontend:contact' %}" class="btn hero-btn" data-animation="fadeInLeft" data-delay=".8s">Apply for Study Loan</a>
                        </div>
                        <div class="hero__img">
                            <img src="{% static 'assets/img/hero/hero_img2.jpg' %}" alt="">
                        </div>
                    </div>
                </div>
            </div>
            <!-- slider-footer Start -->
            <div class="slider-footer section-bg d-none d-sm-block">
                <div class="footer-wrapper">
                    <!-- single -->
                    <div class="single-caption">
                        <div class="single-img">
                            <img src="{% static 'assets/img/hero/hero_footer.png' %}" alt="">
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-clock"></span>
                        </div>
                        <div class="caption">
                            <p>Short-Term Loans</p>
                            <p>Get Interest-Free Loans For Upskilling Courses</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-like"></span>
                        </div>
                        <div class="caption">
                            <p>Education Loans</p>
                            <p>Fill the financial gap with affordable credit at best interest rates</p>
                        </div>
                    </div>
                    <!-- single -->
                    <div class="single-caption">
                        <div class="caption-icon">
                            <span class="flaticon-money"></span>
                        </div>
                        <div class="caption">
                            <p>Scholarships</p>
                            <p>Lessen the monetary load with available aid for deserving students</p>
                        </div>
                    </div>
                  
                </div>
            </div>
            <!-- slider-footer End -->

        </div>
        <!-- slider Area End-->
        <!-- About Law Start-->
        <div class="about-low-area section-padding2">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 col-md-12">
                        <div class="about-caption mb-50">
                            <!-- Section Tittle -->
                            <div class="section-tittle mb-35">
                                <span>About Our Company</span>
                                <h2>Building a Brighter Future & Good Support.</h2>
                            </div>
                            <p>India’s first education financing marketplace, Giandhan aims to equalize and expand access to education. Providing end-to-end education loan assistance, Giandhan is a digital-first company that seeks to revolutionize education financing in India.</p>
                            <p>Giandhan is a Professional Study Loan Platform. Here we will provide you only interesting content, which you will like very much. We're dedicated to providing you the best of Study Loan, with a focus on dependability and Apply for study loan. We're working to turn our passion for Study Loan into a booming online website. We hope you enjoy our Study Loan as much as we enjoy offering them to you.</p>
                            <a href="{% url 'frontend:contact' %}" class="btn">Apply for Loan</a>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <!-- about-img -->
                        <div class="about-img ">
                            <div class="about-font-img d-none d-lg-block">
                                <img src="{% static 'assets/img/gallery/about2.png' %}" alt="">
                            </div>
                            <div class="about-back-img ">
                                <img src="{% static 'assets/img/gallery/about1.png' %}" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- About Law End-->
        <!-- Services Area Start -->
        <div class="services-area pt-150 pb-150" data-background="assets/img/gallery/section_bg02.jpg">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-80">
                            <span>Why chosse us for education loan?</span>
                            <h2>High Performance Services For All Industries.</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-work"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Guaranty</a></h5>
                                <p>Get guaranteed loans at unbeatable interest rate</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Ease of applications</a></h5>
                                <p>Hassle-free and totally online process with no other formalities</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-loan-1"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Free of Cost</a></h5>
                                <p>Zero commission cost & No hidden charges and </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="single-cat text-center mb-50">
                            <div class="cat-icon">
                                <span class="flaticon-like"></span>
                            </div>
                            <div class="cat-cap">
                                <h5><a href="services.html">Fast approvals</a></h5>
                                <p>Unmatched approval chances with multiple lenders</p>
                            </div>
                        </div>
                    </div>

                 </div>
            </div>
        </div>
        <!-- Services Area End -->
        <!-- Support Company Start-->
        <div class="support-company-area section-padding3 fix">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-6 col-lg-6">
                        <div class="support-location-img mb-50">
                            <img src="{% static 'assets/img/gallery/single2.jpg' %}" alt="">
                            <div class="support-img-cap">
                                <span>Since 1992</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6">
                        <div class="right-caption">
                            <!-- Section Tittle -->
                            <div class="section-tittle">
                                <span>Why Choose Our Company</span>
                                <h2>We Promise Sustainable  Future For You.</h2>
                            </div>
                            <div class="support-caption">
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.</p>
                                <div class="select-suport-items">
                                    <label class="single-items">Aorem ipsum dgolor sitnfd amet dfgbn fbsdg
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Consectetur adipisicing bfnelit, sedb dvbnfo
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Eiusmod tempor incididunt vmgldupout labore
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                    <label class="single-items">Admkde mibvnim veniam, quivds cnostrud.
                                        <input type="checkbox" checked="checked active">
                                        <span class="checkmark"></span>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Support Company End-->
        
        <!-- Testimonial Start -->
        <div class="testimonial-area t-bg testimonial-padding">
            <div class="container ">
               <div class="row d-flex justify-content-center">
                    <div class="col-xl-11 col-lg-11 col-md-9">
                        <div class="h1-testimonial-active">
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                 <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'assets/img/gallery/testimonial.png' %}" alt="">
                                        <p>Giandhan helped me a lot in order to get my education loan sanction from SBI. They have taken full responsibility to resolve the things right on time.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'assets/img/testmonial/Homepage_testi.png' %}" alt="">
                                        </div>
                                       <div class="founder-text">
                                            <span>Jessya Inn</span>
                                            <p>Customer Reviews</p>
                                       </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Single Testimonial -->
                            <div class="single-testimonial text-center">
                                 <!-- Testimonial Content -->
                                <div class="testimonial-caption ">
                                    <div class="testimonial-top-cap">
                                        <img src="{% static 'assets/img/gallery/testimonial.png' %}" alt="">
                                        <p>Logisti Group is a representative logistics operator providing full range of ser
                                            of customs clearance and transportation worl.</p>
                                    </div>
                                    <!-- founder -->
                                    <div class="testimonial-founder d-flex align-items-center justify-content-center">
                                        <div class="founder-img">
                                            <img src="{% static 'assets/img/testmonial/Homepage_testi.png' %}" alt="">
                                        </div>
                                       <div class="founder-text">
                                            <span>Jessya Inn</span>
                                            <p>Co Founder</p>
                                       </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
               </div>
            </div>
        </div>
        <!-- Testimonial End -->
        <!-- Blog Ara Start -->
        <div class="home-blog-area section-padding30">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-7 col-md-10">
                        <!-- Section Tittle -->
                        <div class="section-tittle text-center mb-70">
                            <span>News form our latest blog</span>
                            <h2>News from around the world selected by us.</h2>
                        </div> 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <!-- single-david -->
                        <div class="single-blogs mb-30">
                            <div class="blog-images">
                                <img src="{% static 'assets/img/gallery/blog1.png' %}" alt="">
                            </div>
                            <div class="blog-captions">
                                <span>January 28, 2020</span>
                                <h2><a href="blog_details.html">The advent of pesticides brought 
                                    in its benefits and pitfalls.</a></h2>
                                <p>October 6, a2020by Steve</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-6 col-md-6">
                        <!-- single-david -->
                        <div class="single-blogs mb-30">
                            <div class="blog-images">
                                <img src="{% static 'assets/img/gallery/blog2.png' %}" alt="">
                            </div>
                            <div class="blog-captions">
                                <span>January 28, 2020</span>
                                <h2><a href="blog_details.html">The advent of pesticides brought 
                                    in its benefits and pitfalls.</a></h2>
                                <p>October 6, a2020by Steve</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Blog Ara End -->

    </main>
    {% include 'includes/footer.html' %}
   
    </body>
</html>